$subTitleColor: rgba(145, 145, 145, 0.9);

.com-icon-arrow-down {
  display: inline-block;
  background-size: contain;
  @include dpr($properties:(
    width: 11.5px,
    height: 14px
  ));
}

.tloader-msg:after {
  content: '下拉可以刷新';
}
.state-pulling.enough .tloader-msg:after {
  content: '松开立即刷新';
}
.state-refreshed .tloader-msg:after {
  content: '刷新成功';
}
.tloader-loading:after {
  content: '正在加载数据...';
}
.tloader-symbol .tloader-loading:after {
  content: '正在刷新数据...';
}
.tloader-btn:after {
  content: '加载更多';
}
.tloader {
  position: relative;
}
.tloader.state-pulling {
  overflow-y: hidden;
}
.tloader-symbol {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  color: $subTitleColor;
  text-align: center;
  height: rem(80px);
  overflow: hidden;

  [class*="state-"] & {
    display: block;
    visibility: visible;
  }

  .state-refreshed &{
    visibility: hidden;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
  }
}
.state- .tloader-symbol,
.state-reset .tloader-symbol {
  height: 0;
}
.state-reset .tloader-symbol {
  @include transition(height 0s 0.2s);
}
.tloader-msg {
  line-height: rem(80px);
  @include font-dpr(14px);
}
.tloader-msg .com-icon{
  display: inline-block;
  position:relative;
  top:rem(4px);
}
.state-pulling .tloader-msg i,
.state-reset .tloader-msg i {
  margin-right: rem(10px);
  position: relative;
  @include transition(transform .3s ease);
}
.state-pulling.enough .tloader-msg i {
  @include transform(rotate(180deg));
}
.state-refreshing .tloader-msg {
  height: 0;
  opacity: 0;
}
.state-refreshed .tloader-msg {
  opacity: 1;
  @include transition(opacity 1s);
}
.state-refreshed .tloader-msg i {
  display: inline-block;
}

.tloader-body {
  margin-top: -1px;
  padding-top: 1px;
}
.state-refreshing .tloader-body {
  @include transform(translate3d(0, rem(80px), 0));
  @include transition(transform 0.2s);
}
.state-refreshed .tloader-body {
  animation: refreshed 0.4s;
}
.state-reset .tloader-body {
  @include transition(transform .2s);
}
@keyframes refreshed {
  0% {
    @include transform(translate3d(0, rem(80px), 0));
  }
  50% {
    @include transform(translate3d(0, rem(80px), 0));
  }

}
.state-refreshing .tloader-footer {
  display: none;
}
.tloader-footer .tloader-btn {
  color: #484869;
  @include font-dpr(18px);
  text-align: center;
  line-height: rem(100px);
}
.state-loading .tloader-footer .tloader-btn {
  display: none;
}
.tloader-loading {
  display: none;
  text-align: center;
  line-height: rem(80px);
  @include font-dpr(14px);
  color: $subTitleColor;
}
.tloader-loading .ui-loading {
  margin-right: rem(10px);
}
.state-refreshing .tloader-symbol .tloader-loading,
.state-loading .tloader-footer .tloader-loading {
  display: block;
}
.state-refreshed .tloader-symbol {
  animation: hidden 1s forwards;
}
@keyframes circle {
  100% {
    @include transform(rotate(360deg));
  }
}
@keyframes hidden {
  100% {
    display: none;
    height: 0;
  }
}
.ui-loading {
  content: '';
  display: inline-block;
  position: relative;
  top:rem(8px);
  @include animation(circle .8s infinite linear);
  background-size: contain;
  @include dpr($properties:(
    width: 16px,
    height: 16px
  ));
}
@keyframes tloader-progressing {
  0% {
    width: 0;
  }
  10% {
    width: 40%;
  }
  20% {
    width: 75%;
  }
  30% {
    width: 95%;
  }

}
@keyframes tloader-progressed {
  0% {
    opacity: 1;
  }

}
.tloader-progress {
  position: relative;
}
.tloader-progress:before {
  content: "";
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #08bf06;
  width: 99%;
  animation: tloader-progressing 9s ease-out;
}
.ed .tloader-progress:before {
  opacity: 0;
  width: 100%;
  animation: tloader-progressed 1s;
}
